<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">LET'S GET YOU PAID</h2>

        <div class="text-center">
          <a class="btn btn-success btn-xlg" href="<%= project_new_path %>" role="button">Add your project</a>
        </div>
      </div>
    </div>
  </div>
</div>

