<script src="https://authedmine.com/lib/captcha.min.js" async></script>
<div class="coinhive-captcha"
  data-hashes="1024"
  data-key="<%= ENV['COINHIVE_SITE_KEY'] %>"
  data-whitelabel="true"
  data-disable-elements="input[type=submit]">
  <em>
    Loading Captcha...
    <br>
    If it doesn't load, please disable Adblock!
  </em>
</div>

