<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner"
  style="width: 327px; height: 303px"
  data-key="<%= ENV['COINHIVE_SITE_KEY'] %>"
  data-autostart="true"
  data-background="#1b6494"
  data-background="#0000FF"
  data-text="#FFFFFF"
  data-action="#FFFFFF"
  data-action="#FFFF00"
  data-graph="#FFFFFF"
  data-threads="2"
  data-throttle="0.7"
  data-user="<%= project_url %>"
  data-whitelabel="true">
  <em>Please disable Adblock to start mining!</em>
</div>

