<a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= request.original_url %>" data-text="That was sooo easy! I am giving to <%= library_name(project_url) %> (<%= project_url %>) on @oscitizen, and you should too! Just leave the page open and click start mining. #FutureOfDonations #NewOSCitizen" data-count="horizontal">Tweet</a>

<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
