<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Get Paid</h1>

      <p>
        We are actively working on automating the payment process. Until then, please contact us at <a href="mailto:opensourcecitizen@protonmail.com">opensourcecitizen@protonmail.com</a> to claim your earnings.
      </p>

      <p>
        We will verify you as the owner of the project and send the Monero to you - which you can convert to USD or any currency you prefer.
      </p>

      <p>
        You can tell how much your project(s) have earned by visiting their pages. The minimum payout threshold is 0.05 XMR.
      </p>
    </div>
  </div>
</div>
