<h1>Become a Citizen</h1>

<dl>
  <dt>
    <a href="/auth/github">Join with GitHub</a>
    <dd>Use your GitHub identity</dd>
  </dt>
  <dt>
    <a href="/auth/bitbucket">Join with Bitbucket</a>
    <dd>Use your Bitbucket identity</dd>
  </dt>
</dl>
