<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Help</h1>

      <p>Table of Contents</p>

      <ul>
        <li>
          <a href="/help#how-does-it-work">How does it work?</a>
        </li>
        <li>
          <a href="/help#get-paid">How do I get paid?</a>
        </li>
        <li>
          <a href="/help#readme-badge">Is there a readme badge?</a>
        </li>
        <li>
          <a href="/help#claim">How do I claim my project donations?</a>
        </li>
        <li>
          <a href="/help#media-kit">Do you have a media kit?</a>
        </li>
        <li>
          <a href="/help#contact">Get in touch</a>
        </li>
      </ul>

      <br/>

      <h3 id="how-does-it-work">How does it work?</h3>

      <p><a href="<%= project_new_path %>">Add your project</a> to create a shareable donation page. Your users visit that page and mine cryptocurrency on your project's behalf. All they have to do is push a button.</p>

      <h3 id="get-paid">How do I get paid?</h3>

      <p>Every $10 you earn pays you out in Monero. For now, payment is made by contacting <a href="mailto:opensourcecitizen@protonmail.com">opensourcecitizen@protonmail.com</a>.</p>

      <h3 id="readme-badge">Is there a readme badge?</h3>

      <p>Yes! If you use Open Source Citizen for your project, you can include one of these badges in your readme to let people know they can donate to your project using Open Source Citizen.</p>

      <%= render 'shared/readme_badge', url: 'opensourcecitizen.org' %>

      <h3 id="claim">How do I claim my project donations?</h3>

      <p>We are working on more automated ways to claim your donations. Meanwhile, just contact us at <a href="mailto:opensourcecitizen@protonmail.com">opensourcecitizen@protonmail.com</a> and we will process your claim.</p>

      <h3 id="media-kit">Do you have a media kit?</h3>

      <p>Yes. <a href="<%= mediakit_path %>">Click here</a> to view the <a href="<%= mediakit_path %>">Open Source Citizen Media Kit</a>.</p>

      <h3 id="contact">Get in touch</h3>

      <p>Contact us at <a href="mailto:opensourcecitizen@protonmail.com">opensourcecitizen@protonmail.com</a>. We'd love to hear from you and can answer any other questions you have.</p>
    </div>
  </div>
</div>
