<h1>Login</h1>

<dl>
  <dt>
    <a href="/auth/github">Log in using GitHub</a>
    <dd>Use your GitHub identity</dd>
  </dt>
  <dt>
    <a href="/auth/bitbucket">Log in using Bitbucket</a>
    <dd>Use your Bitbucket identity</dd>
  </dt>
</dl>
