<h1>Run a Node</h1>

<p>
  Running a node signals your economic participation as a citizen in the OSC network. You can run multiple nodes to increase your economic participation and raise your citizenship status.
</p>

<dl>
  <dt>
    <a href="/run/node/mac">Run on Mac</a>
    <dd>Download page with installation instructions</dd>
  </dt>
  <dt>
    Run on Linux
    <dd>Coming soon</dd>
  </dt>
  <dt>
    <a href="/run/node/windows">Run on Windows</a>
    <dd>Download page with installation instructions</dd>
  </dt>
  <dt>
    <a href="/nodes">Nodes</a>
    <dd>List of nodes and their statuses</dd>
  </dt>
</dl>
