<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Let's get you started!</h1>

      <h2>Step 1</h2>

      <p>To begin, I need to connect your GitHub account.</p>

      <p>This lets me identify you as the owner of the repositories you will be receiving donations for.</p>

      <p>
        <%= link_to 'Connect your GitHub', '/onboarding/login', class: 'btn btn-primary btn-lg' %>
      </p>

      <p>You'll be redirected to a login page and then redirect back to step 2 of this onboarding process.</p>
    </div>
  </div>
</div>
