<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Add README</h1>

      <h2>Step 3</h2>

      <p>Add this README badge to your repository's README.</p>

      <%= render 'shared/readme_badge', url: @project.url %>

      <a href="" class="btn btn-primary">I'm done with this</a>
    </div>
  </div>
</div>
